body {
    margin: 0px;
    color: white;
}

a:visited {
    color: white;
}

.section-1 {
    background-image: linear-gradient(to right, #0079bf, #5067c5);
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[type='button'] {
    padding: 7px 15px;
    font-family: sans-serif;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
}

input[type='email'] {
    padding: 10px 20px;
    font-family: sans-serif;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
    height: 30px;
    font-size: 20px;
}

.heading1 {
    font-size: 40px;
}

.heading2 {
    font-size: 20px;
}

.section-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 40px;
}